{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>User Type</title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://static.bankbazaar.com/gzip_690838184/bundles/lwDefaultDecorator.css" />
<link rel="stylesheet" type="text/css" media="screen" href="https://static.bankbazaar.com/gzip_N1214896296/bundles/lw-eligPage.css" />
<link rel="stylesheet" type="text/css" media="screen" href="https://static.bankbazaar.com/gzip_750750005/bundles/lw-eligLandingPage.css" />
<link rel="stylesheet" type="text/css" media="screen" href="https://static.bankbazaar.com/gzip_2049799400/bundles/lw-insurance-landing.css" />
<link rel="stylesheet" type="text/css" media="screen" href="https://static.bankbazaar.com/gzip_1445422326/bundles/react-slideshow-websites-bundle.css" />
    </head>
    <body>
      <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="hl-content bank-prod-page product-landing-content">
   <div class="row btm-pad tli-content-info top-pad">
      <div class="product-content top-pad">
         <h1>Health Insurance</h1>
         <p>A Health insurance policy is a contract between the insurance company and the policyholder, wherein the insurer pays for the medical expenses incurred by the life insured. The insurer will either provide a reimbursement for your medical expenses or ensure you are eligible for cashless treatment for injuries or illnesses covered under the policy at one of the network hospitals. You can also get tax deductions on the premiums paid towards health insurance under Section 80D of the Income Tax Act, 1961.</p>
         <div class="hungry-table nb-table">
            <style>
               .nb-table .table-bordered thead tr th a {color:#fff;}
            </style>
           
         </div>
         <div class="tabular-section container tb-pad-10">
            <div class="tabular-data tabular-title">
               <div class="tabular-column">Insurance Provider</div>
               <div class="tabular-column">Features</div>
               <div class="tabular-column grid-col-2">Highlights</div>
               <div class="tabular-column">Tenure</div>
            </div>
            <div class="tabular-data tb-priority">
               <div class="tabular-column bank-info clearfix">
                  <img class="img-responsive lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-original="https://static.bankbazaar.com/images/india/insurance/small/bharti-axa-health-insurance-v2.png" alt="Bharti AXA Health Insurance" title="Bharti AXA Health Insurance">
                  <a href="/insurance/bharti-axa-health-insurance.html">Bharti AXA Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 family members
                  <span>No of Members Covered</span>
                  Rs. 60 lakhs
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column">
                  5,000+
                  <span>Network hospitals</span>
                  76.88%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column">
                  Up to 4 years
                  <span>Waiting Period</span>
                  No maximum entry age
                  <span>Maximum Entry Age</span>
               </div>
            </div>
            <div class="tabular-data">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img src="https://static.bankbazaar.com/images/insurance/national-health-insurance.png" alt="National Health Insurance" title="National Health Insurance">
                  <a href="/insurance/national-health-insurance.html">National Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 6 family members
                  <span>No of Members Covered</span>
                  Rs. 50 lakhs
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  6,000+
                  <span>Network hospitals</span>
                  126.98%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 years
                  <span>Waiting Period</span>
                  80 years
                  <span>Maximum Entry Age</span>
               </div>
            </div>
            <div class="tabular-data tb-priority">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img src="https://static.bankbazaar.com/images/india/insurance/small/nia-health-insurance-2.png" alt="New India Assurance" title="New India Assurance">
                  <a href="/insurance/new-india-assurance-health-insurance.html">New India Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 6 family members
                  <span>No of Members Covered</span>
                  Rs. 8 lakhs
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  1,200+
                  <span>Network hospitals</span>
                  102.94%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 years
                  <span>Waiting Period</span>
                  80 years
                  <span>Maximum Entry Age</span>
               </div>
            </div>
            <div class="tabular-data">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img class="img-responsive lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-original="https://static.bankbazaar.com/images/insurance/royal-sundaram-health-insurance.png" alt="Royal Sundaram Health Insurance" title="Royal Sundaram Health Insurance">
                  <a href="/insurance/royal-sundaram-health-insurance.html">Royal Sundaram Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 5 family members
                  <span>No of Members Covered</span>
                  Rs.1 crore
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  3,000+
                  <span>Network hospitals</span>
                  62.09%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 3 years
                  <span>Waiting Period</span>
                  No specified limit
                  <span>Maximum Entry Age</span>
               </div>
            </div>
           <div class="tabular-data tb-priority">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img class="img-responsive lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-original="https://static.bankbazaar.com/images/india/insurance/small/universal-sompo-health-insurance-1.png" alt="Universal Sompo General Health Insurance" title="Universal Sompo General Health Insurance">
                  <a href="/insurance/universal-sompo-health-insurance.html">Universal Sompo General Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 6 family members
                  <span>No of Members Covered</span>
                  Rs. 10 lakhs
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  5,000+
                  <span>Network hospitals</span>
                  86.14%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 years
                  <span>Waiting Period</span>
                  70 years
                  <span>Maximum Entry Age</span>
               </div>
            </div>
            <div class="tabular-data">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img class="img-responsive lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-original="https://static.bankbazaar.com/images/insurance/manipal-cigna-health-insurance.png" alt="ManipalCigna Health Insurance " title="ManipalCigna Health Insurance">
                  <a href="/insurance/cigna-ttk-health-insurance.html">ManipalCigna Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 family members
                  <span>No of Members Covered</span>
                  Rs. 12 crores
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  4,000+
                  <span>Network hospitals</span>
                  48.14%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  30 days to 2 years, based on illness
                  <span>Waiting Period</span>
                  80 years
                  <span>Maximum Entry Age</span>
               </div>
            </div>
            <div class="tabular-data tb-priority">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img class="img-responsive lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-original="https://static.bankbazaar.com/images/common/bank-logo/care-health-insurance-limited.png" alt="Care Health Insurance " title="Care Health Insurance">
                  <a href="/insurance/care-health-insurance.html">Care Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 6 family members
                  <span>No of Members Covered</span>
                  Rs. 25 crores
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  4,500+
                  <span>Network hospitals</span>
                  57.25%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 years
                  <span>Waiting Period</span>
                  No maximum entry age
                  <span>Maximum Entry Age</span>
               </div>
            </div>
            <div class="tabular-data">
               <div class="tabular-column bank-info grid-col-1 clearfix">
                  <img src="https://static.bankbazaar.com/images/insurance/star-health-insurance.png" alt="Star Health Insurance " title="Star Health Insurance"><a href="/insurance/star-health-insurance.html">Star Health Insurance</a>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 family members
                  <span>No of Members Covered</span>
                  Rs. 25 lakhs
                  <span>Maximum sum assured</span>
               </div>
               <div class="tabular-column grid-col-1">
                  9,800+
                  <span>Network hospitals</span>
                  60.51%
                  <span>Incurred Claim Ratio*</span>
               </div>
               <div class="tabular-column grid-col-1">
                  Up to 4 years
                  <span>Waiting Period</span>
                  75 years
                  <span>Maximum Entry Age</span>
               </div>
            </div>
         </div>
    </body>
</html>