<!DOCTYPE html>
<html>
<body>

<form >

      {% csrf_token %}
      <h1>Fill The Form</h1>
      {{ form }}
      <!-- <span >Favorite Food<font style="color:red">*</font></span>
      <input type="text" required name="favfood" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      <br>
      <br>
  
    	<span>Food You Prefer</span>
    	<select multiple title="Choose food you prefer...." required name="favfood1" name="food">
    		<option value="veg">Veg</option>
    		<option value="non-veg">Non-Veg</option>
    	</select>
  
      <br>
      <br>
    
   
    	<span>Diet You Prefer</span>
    	<select multiple  title="Choose from the following..." required name="favfood2" name="diet">
        	<option value="vegan_diet">Vegan Diet</option>
        	<option value="high_protien_diet">High Protein Diet</option>
    		<option value="type_a_diet">Type A Diet</option>
    		<option value="type_o_diet">Type O Diet</option>
    		<option value="paleo_diet">Paleo Diet</option>
    		<option value="omni_diet">Omni Diet</option>
    		<option value="low_sodium_diet">Low Sodium Diet</option>
            <option value="low_fat_diet">Low Fat Diet</option>
            <option value="gluten_free_diet">Gluten Free</option>
            <option value="high_fiber_diet">High Fiber</option>
            <option value="hormone_diet">Hormone Diet</option>
            <option value="Mediterranean_diet">Mediterranean Diet</option>
            <option value="low_carb_diet">A Low Carb Diet</option>
            <option value="alkaline_diet">Alkaline Diet</option>
            <option value="ketogenic_diet">Ketogenic Diet</option>
            <option value="dash_diet">Dash Diet</option> 
      </select>
  
    
      <br>
      <br>
    
    
   
    	<span>Cuisines You Prefer </span>
    	<select multiple  title="Choose from the following..." required name="favfood3" name="cuisines">
            <option value="chinese">Chinese</option>
            <option value="italian">Italian</option>
            <option value="mexican">Mexican</option>
            <option value="indian">Indian</option>
            <option value="mediterranean">Mediterranean</option>
            <option value="turkish">Turkish</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="french">French</option> 
            <option value="street_Food">Street Food</option>
            <option value="indonesian">Indonesian</option>
            <option value="middle_east">Middle East</option>
                
      </select>
     
      <br>
      <br>
    	<span>Nutrients You Prefer</span>
    	<select multiple title="Choose from the following..." required name="favfood4" name="nutrient">
        	<option value="protien">Protien</option>
        	<option value="calcium">Calcium</option>
    		<option value="carbohydrates">Carbohydrates</option>
    		<option value="vitamin_a">Vitamin A</option>
    		<option value="vitamin_c">Vitamin C</option>
    		<option value="vitamin_d">vitamin D</option>
            <option value="vitamin_e">Vitamin E</option>
            <option value="magnesium">Magnesium</option>
            <option value="fiber">Fiber</option>
            <option value="sodium">Sodium</option>
            <option value="potassium">Potassium</option>
            <option value="iron">Iron</option>
            <option value="manganese">Manganese</option>
            <option value="phosphorus">Phosphorus</option>
            <option value="iodine">Iodine</option> 
            <option value="chloride">Chloride</option>    
            <option value="selenium">Selenium</option>
      </select>
     
      <br>
      <br>
    	<span>Do You Suffer From Any Disease</span>
    	<select multiple  title="Choose from the following..." required name="favfood5" name="disease">
        	<option value="heart_disease">Heart Disease</option>
    		<option value="diabeties">Diabetes</option>
    		<option value="cancer">Cancer</option>
    		<option value="rickets">Rickets(vitamin D)</option>
            <option value="kidney_disease">Kidney Problems</option>
            <option value="pregnancy">Pregnancy</option>
            <option value="scurvy">Scurvy(vitamin C)</option>
            <option value="anemia">Anemia(iron)</option>
            <option value="goitre">Goitre(Iodine)</option>
            <option value="eye_disease">Eye Problem(vitamin A)</option>
            <option value="obesity">Obesity</option> 
            <option value="hypertension">Hypertension</option>    
      </select>
  
      <br>
      <br>
  
    

    <input type="submit" value="submit"> -->


</form>
</body>
</html>
