
{% load static %}
<!-- <!DOCTYPE html>
<html>
    <head>
        <title>User Type</title>
    </head>
    <body>
        <a href="{% url 'dashboard' %}" class="nav_link">
            
            <span class="nav_name">Head back to dashboard</span>
          </a>
        <form action="{% url 'result' %}" name="usertype">
            {% csrf_token %}
            <label>1. Do you ever forget to take or buy your medicine ?</label><br>
            <input type="radio" id="yes" name="q1" value="1" required name="q1">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q1" value="0">
              <label for="no">No</label><br>



            <label>2. I would rather be ill than taking medication</label><br>
            <input type="radio" id="yes" name="q2" value="1" required name="q2">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q2" value="0">
              <label for="no">No</label><br>



            <label>3. It is unnatural for my mind and body to be controlled by medications</label><br>
            <input type="radio" id="yes" name="q3" value="1" required name="q3">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q3" value="0">
              <label for="no">No</label><br>



            <label>4.If I take medication, it's only because of pressure from other people </label><br>
            <input type="radio" id="yes" name="q4" value="1" required name="q4">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q4" value="0">
              <label for="no">No</label><br>



            <label>5. Do you stop taking medications when you feel better? </label><br>
            <input type="radio" id="yes" name="q5" value="1" required name="q5">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q5" value="0">
              <label for="no">No</label><br>



            <label>6. Are you careless at times about taking your medications? </label><br>
            <input type="radio" id="yes" name="q6" value="1" required name="q6">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q6" value="0">
              <label for="no">No</label><br>




            <label>7. Do u ever face the issue of opening the medication container or using medication devices?</label><br>
            <input type="radio" id="yes" name="q7" value="1" required name="q7">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q7" value="0">
              <label for="no">No</label><br>




            <label>8. Do u suffer from irregular supply of medicine due to your age/locality/disability/language barrier? </label><br>
            <input type="radio" id="yes" name="q8" value="1" required name="q8">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q8" value="0">
              <label for="no">No</label><br>



            <label>9. Do u face ever fail to initially fill or refill a prescription due to financial issues?</label><br>
            <input type="radio" id="yes" name="q9" value="1" required name="q9">
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q9" value="0">
              <label for="no">No</label><br>



            <label>10. Medication makes me feel tired and sluggish</label><br>
            <input type="radio" id="yes" name="q10" value="1" required name="q10"> 
              <label for="yes">Yes</label><br>
              <input type="radio" id="no" name="q10" value="0">
              <label for="no">No</label><br>
            <input type="submit" value="Submit" name="submit"> 
        </form>
    </body>
</html> -->


<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/users/gettype.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <!-- <header class="header" id="header">
        <div class="container-fluid">
        <img class="logo" src="{% static 'images/logo.png' %}">
        <a style="color: white; margin-left: 20px;" href="{% url 'bmi' %}">BMI Calculator</a>
        <a style="color: white; margin-left: 10px;" href="{% url 'gettype' %}">Adherence Type</a>
      
        <div class="nav-item dropdown" style="float: right;margin-right:20px">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" style="color: white"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'foodrecom' %}">Food Recommender</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
    </header> -->
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i></span> </a>
                <div class="nav_list">
                    <a href="{% url 'dashboard' %}" class="nav_link active">
                        <img class="icon icon-home" src="{% static 'images/home.png' %}">
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="{% url 'medicines' %}" class="nav_link">
                      <img class="icon icon-med" src="{% static 'images/med.png' %}">
                      <span class="nav_name">Medicines</span>
                    </a>
                    <a href="#" class="nav_link">
                      <img class="icon icon-bell" src="{% static 'images/bell.png' %}">
                      <span class="nav_name">Notifications</span>
                    </a>
                    <a href="{% url 'foodrecom' %}" class="nav_link">
                      <img class="icon icon-food" src="{% static 'images/food.png' %}">
                      <span class="nav_name">Food Recommender</span>
                    </a>
                    <a href="#" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/analytics.png' %}">
                      <span class="nav_name">Analytics</span>
                    </a>
                    <a href="{% url 'gameboard' %}" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/analytics.png' %}">
                      <span class="nav_name">Gameboard</span>
                    </a>
      
                    <a href="{% url 'gamification' %}" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/analytics.png' %}">
                      <span class="nav_name">Games</span>
                    </a>
                    <!-- <a href="{% url 'bmi' %}" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/analytics.png' %}">
                      <span class="nav_name">Get your BMI</span>
                    </a> -->
                    <a href="#" class="nav_link">
                      <img class="icon icon-user" src="{% static 'images/user.png' %}">
                      <span class="nav_name">Profile</span>
                    </a>
      
                    
      
                </div>
            </div>
        </nav>
      </div>
  <p style="color:rgba(0, 0, 0, 0.8);font-size: x-large;text-decoration:wavy;"> Take the below survey to get a more personalized experience based on your adherence type </p>
    <form action="{% url 'result' %}" name="usertype">
        {% csrf_token %}
    <br>
  <div class="login-div">
    Do you ever forget to take or buy your medicine ?
    <div>
      <label>
        <input type="radio" name="q1" value="1"/>
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q1" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  
  <div class="login-div">
    I would rather be ill than taking medication
    <div>
      <label>
        <input type="radio" name="q2" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q2" value="0"/>
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    It is unnatural for my mind and body to be controlled by medications
    <div>
      <label>
        <input type="radio" name="q3" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q3" value="0"/>
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    If I take medication, it's only because of pressure from other people
    <div>
      <label>
        <input type="radio" name="q4" value="1"/>
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q4" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
    <div class="login-div">
    Do you stop taking medications when you feel better?
    <div>
      <label>
        <input type="radio" name="q5" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q5" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    Are you careless at times about taking your medications?
    <div>
      <label>
        <input type="radio" name="q6" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q6" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    Do u ever face the issue of opening the medication container or using medication devices?
    <div>
      <label>
        <input type="radio" nname="q7" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q7" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    Do u suffer from irregular supply of medicine due to your age/locality/disability/language barrier?
    <div>
      <label>
        <input type="radio" name="q8" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q8" value="0"/>
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    Do u face ever fail to initially fill or refill a prescription due to financial issues?
    <div>
      <label>
        <input type="radio" name="q9" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q9" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  <br>
  <div class="login-div">
    Medication makes me feel tired and sluggish
    <div>
      <label>
        <input type="radio" name="q10" value="1" />
        <i class="fa fa-check" aria-hidden="true"></i>
      </label>
      <label>
        <input type="radio" name="q10" value="0" />
        <i class="fa fa-times" aria-hidden="true"></i>
      </label>
    </div>
  </div>
  
  <button>Submit</button>
</form>



</body>
</html>
