{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/users/register.css' %}">
    
    <title>PillPlan</title>
  </head>
  <body>
    
    <div class="container">
        <div class="white-box">
           
          <button><a href="{% url 'landing' %}">Landing</a></button>
                <div class="RegBox">
                    <img src="{% static 'images/regForm.png' %}"/>
                <form method="POST" action="">
                    {% csrf_token %}
                            {{form.username.label}}
                            {{form.username}}

                            {{form.first_name.label}}
                            {{form.first_name}}

                            {{form.last_name.label}}
                            {{form.last_name}}


                            {{form.email.label}}
                            {{form.email}}

                            {{form.phone.label}}
                            {{form.phone}}

                            
                            

                            {{form.password1.label}}
                            {{form.password1}}

                            {{form.password2.label}}
                            {{form.password2}}
                        
                        <input type="submit" name="Create User">
                </form>
                {{form.errors}}
                
                <h3>Already have an account?<a href="{% url 'login' %}">Login</a></h3>
            </div>
            </div>

    </div>
  
  </body>
</html>


