{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/users/video.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
         <style>
          .video{
              margin-top: 120px;
              float: left;
          }
          .video2{
              margin-top: 300px;
              float: left;
          }
          .container-videos{
            background: url("{% static 'images/videos.png' %}");
            margin-top: 90px;
            height: 600px;
            width: 1250px;
            margin-left: 20px;
            /* background-color: white; */
            border-radius: 20px;
          }
      </style>
</head>
<body>
    <header class="header" id="header">
        <div class="container-fluid">
        <img class="logo" src="{% static 'images/logo.png' %}">
        <a style="color: white; margin-left: 20px;" href="{% url 'bmi' %}">BMI Calculator</a>
        <a style="color: white; margin-left: 10px;" href="{% url 'gettype' %}">Adherence Type</a>
      
        <div class="nav-item dropdown" style="float: right;margin-right:20px">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" style="color: white"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'foodrecom' %}">Food Recommender</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i></span> </a>
                <div class="nav_list">
                    <a href="{% url 'dashboard' %}" class="nav_link active">
                        <img class="icon icon-home" src="{% static 'images/home.png' %}">
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="{% url 'medicines' %}" class="nav_link">
                      <img class="icon icon-med" src="{% static 'images/med.png' %}">
                      <span class="nav_name">Medicines</span>
                    </a>
                    <a href="{% url 'foodrecom' %}" class="nav_link">
                      <img class="icon icon-food" src="{% static 'images/food.png' %}">
                      <span class="nav_name">Food Recommender</span>
                    </a>
                    <a href="#" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/analytics.png' %}">
                      <span class="nav_name">Analytics</span>
                    </a>
                    <a href="{% url 'gameboard' %}" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/game.png' %}">
                      <span class="nav_name">Gameboard</span>
                    </a>
      
                    <a href="{% url 'gamification' %}" class="nav_link">
                      <img class="icon icon-analytics" src="{% static 'images/dice.png' %}">
                      <span class="nav_name">Fun & Learn</span>
                    </a>
                    <!-- <a href="#" class="nav_link">
                      <img class="icon icon-user" src="{% static 'images/user.png' %}">
                      <span class="nav_name">Profile</span>
                    </a> -->
                    <a href="http://localhost/mediplus/customer_pages/customer_login.php" class="nav_link" target="_blank">
                      <img class="icon icon-bell" src="{% static 'images/store.png' %}">
                      <span class="nav_name">E-Pharmacy</span>
                    </a>
                </div>
            </div>
        </nav>
      </div>
<div class="container-videos"> 
    <!-- Watch the videos to earn points -->
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'images/ghost.png' %}" width="150px" height="150px" style="margin-top: 90px; margin-left: 40px;"> 
        </div>
        <div class="col-md-3">
            <iframe class="video" width="200" height="120" src="https://www.youtube.com/embed/Y-CWTqKiIhQ?list=PLM0wrNwtttIypjCTsxCEaVwTWsJdt4keJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe  class="video" width="200" height="120" src="https://www.youtube.com/embed/uOcpsXMJcJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe class="video" width="200" height="120" src="https://www.youtube.com/embed/QKdOYRneU44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button style="margin-top:160px; margin-left: 50px;" class="btn btn-primary" onclick=right()>Earn Points</button>
        </div>
        <div class="col-md-4">
            <iframe class="video" width="200" height="120" src="https://www.youtube.com/embed/z6TQmyY0690?list=PLuBWiXLwJix0j8yDrE2i0NoDjAiBXjcNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <iframe  class="video" width="200" height="120" src="https://www.youtube.com/embed/uOcpsXMJcJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<script>
    function right(){
        Swal.fire({
            title: 'Correct Answer',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            },
            icon: 'success',
            title:'50 points unlocked', 
            confirmButtonText: '<a href="opengame.html" style="color: white; text-decoration: none">Next</a>'     
                        })
    }
</script>
</body>
</html>
